* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

@keyframes apear {
  0% {
    background-image: url(./img/head1.jpg);
  }

  20%,
  40% {
    background-image: url(./img/head2.jpg);
  }

  60%,
  80% {
    background-image: url(./img/head3.jpg);
  }

  100% {
    background-image: url(./img/head1.jpg);
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  animation: apear 10s infinite;
}

img.header-logo {
  display: block;
  flex-grow: 1;
  width: 500px;
  height: 10;
  padding-top: 40px;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.2));
}

@keyframes scroll-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.box1 {
  /* position: relative; */
  width: 50px;
  height: 50px;
  margin-bottom: 70px;
  text-align: center;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.5));
  border: 2px solid;
  border-color: white;
  border-right: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
  animation: 1.5s scroll-up infinite alternate;
}

.scroll-up {
  position: absolute;
  bottom: 35px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.5));
  animation: 1.5s scroll-up infinite alternate;
}
